.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items:center;
    min-width: 1100px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

.menu-items {
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

.menu-items-header {
    display: flex;
    list-style-type: circle;
    gap: 33px;
    padding-left: 50px;
    padding-bottom: 5px;
}

.header__link_current {
    text-decoration: none;
    list-style-type: none;
}

.header__links-list-item_no-bullit {
    text-decoration: none;
    list-style-type: none;
}

.header__links-list-item {
    text-underline-offset: 4px; 
}

.address {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-style: normal;
    font-size: 18px;
    color:black;
}
.address-header {
    padding-right: 55px;
    max-width: 290px;
    justify-self: end;
    min-height: 293px;
    padding-top: 98px;
}

a[href^="tel:"], a[href^="mailto:"] {
    text-decoration: underline;
    text-underline-offset: 5px;
    display: block; 
}

.logo {
    max-width: 145px;
}

/* Banner Section */
.banner {
    width: 1100px;
    min-height: 757px;
    position: relative;
    background-image: url('../images/lotus-flower.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-title {
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
    letter-spacing: 0.3em;
    position: relative;
    inset: 165px 50px 207px 50px;
}

.overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 0; 
}

.aligned-text {
    display: block;
}

.aligned-text_center {
  text-align: center; 
  padding: 17px 75px 0 7px;
}

.aligned-text_right {
    text-align: right;
    padding: 18px 70px 0 0;
}

.banner-opisanie {
    z-index: 3;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px; 
    position: relative;
    inset: 284px 0 0 52px;
}

.banner-button {
    z-index: 2;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    position: relative;
    inset: 244px 0 0 792px;
    padding: 12px 32px 12px 32px;
    background: transparent;
}

/* Block section */
.lots {
    width: 1052px;
    margin-left: 26px;
    display: grid;
    column-gap: 25px;
    padding-top: 23px;   
}

.lots-title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 157px 0 27px 40px;
    z-index: 2;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;          
    gap: 25px;   
}

.lot-left {
    background-image: url('../images/card-lot-01.jpg');
}

.lot-center {
    background-image: url('../images/photo-knigi.jpg');
}

.lot-right {
    background-image: url('../images/photo-kartini.jpg');
}

 .lots__card-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 334px;
    min-height: 596px;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.article {
    width: 254px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px; 
    color: rgb(255, 255, 255);
    justify-self: center;
    padding-top: 48px;
    z-index: 3;
    font-size: 22px;
    font-weight: 700;
}

.card__text {
    width: 254px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    justify-self: center;
    z-index: 3;
    padding-bottom: 48px;
}

.lot-link {
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: 2; 
    text-decoration: none;
}

.lots__look-more-link {
    font-size: 20px;
    padding: 30px 0 0 40px;
    display: inline-block;
    text-underline-offset: 4px; 
}

/* About auction */
.about__column {
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: start;
    align-items: flex-start;
    grid-template-areas: 
      "logo-krug h2"
      ". all-text"; 
    padding-left: 46px;
    padding-top: 154px;
}

.all-text {
    grid-area: all-text;
}

.about__logo-image {
    max-height: 240px;
    grid-area: logo-krug;
    padding-right: 49px;
}

.about__title {
    grid-area: h2; 
    align-self: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0 0 0;
}

.about__text {
    grid-area: auction-opisanie; 
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 18px;
    padding-top: 8px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    padding-top: 161px;
}

.address-footer {
    padding: 0px 0 82px 50px;
    font-size: 18px;
    max-width: 300px;
    font-style: normal;
}

.menu-items-footer {
    list-style-type: none;
    justify-items: center;
}

.social {
    padding-right: 50px;
}

.footer__social-list {
    list-style-type: none;
    justify-content: end;
    display: flex;
    gap: 48px;
}

.footer__social-list img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
/* :) */
